<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <link rel="shortcut icon" type="image/x-icon" href="http://oss.koogame.cn/oss/images/koogame.ico" media="screen" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/dateselector/dateRange.css?v=0.2" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/dateselector/monthPicker.css?v=0.2" /> 
  <link href="http://oss.koogame.cn/oss/css/bootstrap.css?v=0.2" rel="stylesheet" /> 
  <link href="http://oss.koogame.cn/oss/css/font-awesome.css?v=0.2" rel="stylesheet" /> 
  <link href="http://oss.koogame.cn/oss/css/basic.css?v=0.2" rel="stylesheet" /> 
  <link href="http://oss.koogame.cn/oss/css/custom.css?v=0.2" rel="stylesheet" /> 
  <link href="http://oss.koogame.cn/oss/css/header.css?v=0.2" rel="stylesheet" /> 
  <link href="http://oss.koogame.cn/oss/css/datatemplate.css?v=0.3" rel="stylesheet" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/button/default.css?v=0.2" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/button/component.css?v=0.2" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/button/animation.css?v=0.2" /> 
  <link href="http://oss.koogame.cn/oss/css/polaris/polaris.css?v=0.2" rel="stylesheet" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/jquery.dataTables.css?v=0.2" /> 
  <title>KooGame</title>
  <style type="text/css">
    .nav-tab.feedback {
    margin-top: 1%;
    position: relative;
    left: 2px;
    z-index: 1;
  } 
  </style> 
 </head> 
 <body> 
  <div id="wrapper"> 
   <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0"> 
    <div id="header"> 
     <div class="top"> 
      <div class="logo-outer"> 
       <a href="#" title="用心做游戏-koogame"> 
        <div class="logo"></div> </a> 
      </div> 
      <div class="topnav"> 
       <div class="envelope"> 
        <button type="button" class="btn btn-default btn-envelope"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> </button> 
       </div>
       <div class="btn-group" id="admin-btn"> 
        <button class="btn btn-default dropdown-toggle" type="button" id="userAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-user btn-user"></span>admin<span class="caret"></span></button> 
        <ul class="dropdown-menu user-bars" aria-labelledby="userAccount"> 
         <li> <a href="/oss/admin/account">帐号与权限</a></li> 
        </ul> 
       </div> 
       <div class="logout-btn"> 
        <button type="button" class="btn btn-default btn-off"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span> </button> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div id="menu"> 
     <div class="crumb"> 
      <a href="/oss/dashboard"><button type="button" class="btn btn-default btn-home" aria-label="Left Align"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> </button></a>
     </div> 
     <div class="crumb-inner"> 
      <em>全部数据</em> 
     </div>
     <div class="btn-group select-db">
          <button type="button" id="btn-db" class="btn btn-success dropdown-toggle" data-toggle="dropdown" data-info="none">
            选择服务器 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" id="db-menu"></ul>
     </div> 
     <div class="service-bar"> 
      <div class="dropdown"> 
       <button class="btn btn-default dropdown-toggle" type="button" id="btn-dropdownIcon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span class="caret"></span> </button> 
       <ul class="dropdown-menu iconBar" aria-labelledby="dropdownIcon"> 
        <li class="btn-icons" id="ios" data-value="apple"> <a> <input type="checkbox" /> <span class="fa fa-apple fa-style" aria-hidden="true"></span>iOS</a> </li> 
        <li class="btn-icons" id="and" data-value="android"> <a> <input type="checkbox" /> <span class="fa fa-android fa-style" aria-hidden="true"></span>Android</a> </li> 
        <li class="btn-icons" id="wp" data-value="windows"> <a> <input type="checkbox" /> <span class="fa fa-windows fa-style" aria-hidden="true"></span>WP</a> </li> 
        <li> <button type="button" class="btn btn-primary" onclick="iconsView()">确定</button></li> 
       </ul> 
      </div> 
     </div> 
     <div class="clear-data"> 
      <button type="button" class="btn btn-default btn-circle" aria-label="Left Align"> <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> <em>刷新数据</em></button> 
     </div> 
    </div> 
   </nav> 
   <!-- /. NAV TOP --> 
   <nav class="navbar-default navbar-side" role="navigation"> 
    <div class="sidebar-collapse"> 
     <ul class="nav" id="main-menu"></ul> 
    </div> 
   </nav> 
   <!-- /. NAV SIDE --> 
   <div id="page-wrapper" style="overflow-x: hidden;overflow-y:hidden;min-height:825px"> 
    <div id="page-inner">
     <div class="row" id="top-row"> 
      <div class="filter-tool" style="height:110px">
       <div class="date-bar"> 
        <div class="calender-bar"> 
         <div class="ta_date"> 
          <span class="date_title" id="date_seletor"></span> 
          <a class="opt_sel" id="input_trigger" href="#"> <i class="fa fa-calendar" aria-hidden="true"></i> </a> 
         </div> 
         <div id="datePicker"></div> 
        </div> 
       </div>
      </div>
     </div> 
     <!-- /. ROW --> 
     <div class="row" id="data-first"> 
      <div class="panel panel-default"> 
       <div class="panel-heading">
        <span class="data-first-panel-heading" id="user-role-manage">用户反馈详情</span>
       </div> 
       <div class="panel-body">
        <div class="tab-content" style="top:-13px">
          <table id="table-feedback-detail" class="hover stripe row-border">
            <thead>
              <tr>
                <th style="width:100px"><a class="btn btn-warning" data-toggle="modal" data-target="#delete-confirm"><i class="fa fa-times" aria-hidden="true" style="font-size:large"></i>删除</a><input type="checkbox" /></th>
                <th>帐号名</th>
                <th>反馈内容</th>
                <th>创建时间</th>
                <th>详情</th>
                <th>是否回复</th>
                <th><a class="btn btn-danger" id="btn-atwill-reply" data-toggle="modal" data-target="#feedback">回复</a></th>
              </tr>
            </thead>
          </table>
          <div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
            <div class="modal-dialog"> 
             <div class="modal-content"> 
               <div class="modal-body"> 
                 <div class="panel-body" style="text-align:center">
                  <div class="alert alert-danger">确认删除?</div>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" id="delete-feedback">确认</button> 
                  <button type="button" class="btn btn-primary" data-dismiss="modal" id="delete-cancel">取消</button> 
                 </div>
               </div>             
             </div> 
            </div> 
          </div>
          <div class="modal fade" id="fb-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
           <div class="modal-dialog"> 
            <div class="modal-content"> 
             <div class="modal-header"> 
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
               <h4 class="modal-title" id="myModalLabel"><i>用户反馈</i></h4> 
             </div> 
             <div class="modal-body"> 
               <div class="panel panel-default">
                <div class="panel-body"> 
                 <div class="filter-header">
                   <div class="input-group">
                    <span class="input-group-addon">帐号</span>
                    <input type="text" class="form-control" id="feedback-account" readonly="readonly">
                   </div> 
                 </div> 
                 <div class="tab-content"> 
                  <div class="form-group">
                    <textarea class="form-control" rows="3" id="feedback-content" readonly="readonly"></textarea>
                  </div>
                 </div> 
                </div> 
               </div> 
              </div> 
              <div class="modal-footer"> 
               <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#feedback" id="btn-reply">回复</button> 
               <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-detail-close">关闭</button> 
              </div> 
            </div> 
           </div> 
          </div>

          <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
           <div class="modal-dialog"> 
            <div class="modal-content"> 
             <div class="modal-header"> 
               <button type="button" class="close" id="btn-fb-close" data-dismiss="modal" aria-hidden="true">&times;</button> 
               <h4 class="modal-title" id="myModalLabel"><i>回复反馈</i></h4> 
             </div> 
             <div class="modal-body"> 
               <div class="panel panel-default">
                <div class="panel-body"> 
                 <div class="filter-header">
                   <div class="input-group" id="account-row">
                    <span class="input-group-addon dropdown-toggle">帐号</span>
                     <ul class="dropdown-menu" id="select-account" role="menu">
                      <li><a data-info="mail-account">帐号</a></li>
                      <li><a data-info="muti-mail-account">多个帐号</a></li>
                      <li><a data-info="mail-server">全服邮件</a></li>
                     </ul>
                    <input type="text" class="form-control" id="reply-account" readonly="readonly" data-info="mail-account" placeholder="输入8位帐号">
                   </div> 
                   <div class="input-group">
                    <span class="input-group-addon" >标题</span>
                    <input type="text" class="form-control" id="reply-title" placeholder="标题">
                   </div>
                   <div class="input-group" id="level-reply"></div>
                 </div> 
                 <div class="tab-content"> 
                  <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="正文" id="area"></textarea>
                  </div>
                  <div class="attachment">  
                  </div>
                  <div id="attach-result">
                  </div>
                 </div> 
                </div> 
               </div> 
              </div> 
              <div class="modal-footer">
               <div class="btn-group btn-attachment">
                <button type="button" class="btn btn-success" id="btn-attachment"><i class="fa fa-plus nest" aria-hidden="true"></i>附件</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a data-info="money"><i class="fa fa-stop-circle nest" aria-hidden="true"></i>金币</a></li>
                  <li><a data-info="diamond"><i class="fa fa-diamond nest" aria-hidden="true"></i>钻石</a></li>
                  <li><a data-info="exp"><i class="fa fa-star nest" aria-hidden="true"></i>经验</a></li>
                  <li><a data-info="hero"><i class="fa fa-universal-access nest" aria-hidden="true"></i>英雄</a></li>
                  <li><a data-info="property"><i class="fa fa-gavel nest" aria-hidden="true"></i>物品</a></li>
                </ul>
               </div> 
               <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-send">发送</button> 
               <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-reply-close">关闭</button> 
              </div> 
            </div> 
           </div> 
          </div>
        </div> 
       </div> 
      </div> 
     </div>
    </div> 
    <!-- /. PAGE INNER --> 
   </div> 
   <!-- /. PAGE WRAPPER --> 
  </div> 
  <!-- /. WRAPPER -->
  </div> 
  <div id="footer-sec" style="top:50px">
    Copyright &copy; 2016.koogame All rights reserved. 
   <a target="_blank" href="#"></a> 
  </div> 
  <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME--> 
  <script src="http://oss.koogame.cn/oss/js/jquery.min.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/bootstrap.min.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/jquery.metisMenu.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/jquery.dataTables.min.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/custom.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/header.js?v=0.4"></script> 
  <script src="http://oss.koogame.cn/oss/js/button/modernizr.custom.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/button/classie.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/echarts.min.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/filter/jcfilter.min.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/dateselector/dateRange.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/dateselector/monthPicker.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/checkbox/icheck.js?v=0.2"></script>
  <script src="http://oss.koogame.cn/oss/js/common.js?v=0.6"></script>
  <script src="http://oss.koogame.cn/oss/js/properties.js?v=0.6"></script>
  <script src="http://oss.koogame.cn/oss/js/userFeedback.js?v=0.8"></script>
 </body>
</html>