<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/dashboard.css">
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/dashboard.js"></script>
  <title>Dashboard</title>
</head>
<body>
	<div id="header">
	  <div class="top" >
	    <div class="logo-outer">
	      <a href="#" title="用心做游戏-koogame">
	        <div class="logo"></div>
	      </a>
	    </div>
	    <div class="topnav">
		  <div class="btn-group" id="admin-btn">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    	    admin<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu">
    		  <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
  			</ul>
		  </div>
		  <div class="glyphicon glyphicon-user" aria-hidden="true" id="login-user"></div>
		  <div class="logout-btn">
		  	<button type="button" class="btn btn-default">
  				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			</button>
		  </div>
	    </div>
	  </div>
	</div>
	<div id="menu">
	  <div class="crumb"></div>
	  <div class="crumb-inner"></div>
	</div>
	<div class="container">
	  <div class="panel panel-default">
	    <div class="panel-heading">Panel heading</div>
	     <div class="module-table ">
	      <table class="table table-bordered table-hover table-responsive">
	        <thead>
			  <tr>
				<td>0</td>
  				<td>1</td>
  				<td>2</td>
			  </tr>		 
	        </thead>
	        <tbody>
	          <tr>
  				<td>s</td>
  				<td>j</td>
  				<td>k</td>
	          </tr>
	          <tr>
	            <td>s</td>
  				<td>j</td>
  				<td>k</td>
	          </tr>
	          <tr>
  				<td>s</td>
  				<td>j</td>
  				<td>k</td>
	          </tr>
	          <tr>
	            <td>s</td>
  				<td>j</td>
  				<td>k</td>
	          </tr>
	        </tbody>
	       </table>
	      </div>
	    </div>
	    <div class="panel panel-default">
	      <div class="panel-heading">Panel heading</div>  
	        <div class="module-table" id="gamelist">
	          <table class="table table-bordered table-hover table-responsive">
	            <thead></thead>
	            <tbody id=""></tbody>
	          </table>
	        </div>
	      </div> 
	    </div>	
	</div>
</body>
</html>