<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <link rel="shortcut icon" type="image/x-icon" href="http://zhangchaoyi.xyz/oss/images/koogame.ico" media="screen" /> 
  <link rel="stylesheet" type="text/css" href="http://zhangchaoyi.xyz/oss/css/dateselector/dateRange.css?v=0.2" /> 
  <link rel="stylesheet" type="text/css" href="http://zhangchaoyi.xyz/oss/css/dateselector/monthPicker.css?v=0.2" /> 
  <link href="http://zhangchaoyi.xyz/oss/css/bootstrap.css?v=0.2" rel="stylesheet" /> 
  <link href="http://zhangchaoyi.xyz/oss/css/font-awesome.css?v=0.2" rel="stylesheet" /> 
  <link href="http://zhangchaoyi.xyz/oss/css/basic.css?v=0.2" rel="stylesheet" /> 
  <link href="http://zhangchaoyi.xyz/oss/css/custom.css?v=0.2" rel="stylesheet" /> 
  <link href="http://zhangchaoyi.xyz/oss/css/header.css?v=0.2" rel="stylesheet" /> 
  <link href="http://zhangchaoyi.xyz/oss/css/datatemplate.css?v=1.1" rel="stylesheet" /> 
  <link rel="stylesheet" type="text/css" href="http://zhangchaoyi.xyz/oss/css/button/default.css?v=0.2" /> 
  <link rel="stylesheet" type="text/css" href="http://zhangchaoyi.xyz/oss/css/button/component.css?v=0.2" /> 
  <link rel="stylesheet" type="text/css" href="http://zhangchaoyi.xyz/oss/css/button/animation.css?v=0.2" /> 
  <link href="http://zhangchaoyi.xyz/oss/css/polaris/polaris.css?v=0.2" rel="stylesheet" /> 
  <link rel="stylesheet" type="text/css" href="http://zhangchaoyi.xyz/oss/css/jquery.dataTables.css?v=0.2" /> 
  <title>KooGame</title> 
 </head> 
 <body> 
  <div id="wrapper"> 
   <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0"> 
    <div id="header"> 
     <div class="top"> 
      <div class="logo-outer"> 
       <a href="#" title="用心做游戏-koogame"> 
        <div class="logo"></div> </a> 
      </div> 
      <div class="topnav"> 
       <div class="envelope"> 
        <button type="button" class="btn btn-default btn-envelope"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> </button> 
       </div> 
       <div class="btn-group" id="admin-btn"> 
        <button class="btn btn-default dropdown-toggle" type="button" id="userAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-user btn-user"></span>admin <span class="caret"></span></button> 
        <ul class="dropdown-menu user-bars" aria-labelledby="userAccount"> 
         <li> <a href="/oss/admin/account">帐号与权限</a></li> 
        </ul> 
       </div> 
       <div class="logout-btn"> 
        <button type="button" class="btn btn-default btn-off"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span> </button> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div id="menu"> 
     <div class="crumb"> 
      <a href="/oss/dashboard"><button type="button" class="btn btn-default btn-home" aria-label="Left Align"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> </button></a>
     </div> 
     <div class="crumb-inner"> 
      <em>全部数据</em> 
     </div>
     <div class="btn-group select-db">
          <button type="button" id="btn-db" class="btn btn-success dropdown-toggle" data-toggle="dropdown" data-info="none">
            选择服务器 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" id="db-menu"></ul>
     </div> 
     <div class="service-bar"> 
      <div class="dropdown"> 
       <button class="btn btn-default dropdown-toggle" type="button" id="btn-dropdownIcon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span class="caret"></span> </button> 
       <ul class="dropdown-menu iconBar" aria-labelledby="dropdownIcon"> 
        <li class="btn-icons" id="ios" data-value="apple"> <a> <input type="checkbox" /> <span class="fa fa-apple fa-style" aria-hidden="true"></span>iOS</a> </li> 
        <li class="btn-icons" id="and" data-value="android"> <a> <input type="checkbox" /> <span class="fa fa-android fa-style" aria-hidden="true"></span>Android</a> </li> 
        <li class="btn-icons" id="wp" data-value="windows"> <a> <input type="checkbox" /> <span class="fa fa-windows fa-style" aria-hidden="true"></span>WP</a> </li> 
        <li> <button type="button" class="btn btn-primary" onclick="iconsView()">确定</button></li> 
       </ul> 
      </div> 
     </div> 
     <div class="clear-data"> 
      <button type="button" class="btn btn-default btn-circle" aria-label="Left Align"> <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> <em>刷新数据</em></button> 
     </div> 
    </div> 
   </nav> 
   <!-- /. NAV TOP --> 
   <nav class="navbar-default navbar-side" role="navigation"> 
    <div class="sidebar-collapse"> 
     <ul class="nav" id="main-menu"></ul> 
    </div> 
   </nav> 
   <!-- /. NAV SIDE --> 
   <div id="page-wrapper" style="overflow-x: hidden;overflow-y:hidden;"> 
    <div id="page-inner"> 
     <div class="row" id="top-row"> 
      <div class="filter-tool"> 
       <div class="date-bar"> 
        <div class="calender-bar"> 
         <div class="ta_date"> 
          <span class="date_title" id="date_seletor"></span> 
          <a class="opt_sel" id="input_trigger" hre2f="#"> <i class="fa fa-calendar" aria-hidden="true"></i> </a> 
         </div> 
         <div id="datePicker"></div> 
        </div> 
        <div class="time-title active"> 
         <a id="aToday" onclick="dateSelected(this)">今日</a> 
         <a id="aYesterday" onclick="dateSelected(this)">昨日</a> 
         <a id="aRecent7Days" onclick="dateSelected(this)" class="selected">近7日</a> 
         <a id="aRecent30Days" onclick="dateSelected(this)">近30日</a> 
         <a id="aRecent90Days" onclick="dateSelected(this)">近90日</a> 
        </div> 
       </div> 
       <div class="filter-bar"> 
        <div class="row" id="notification"> 
         <button class="btn btn-primary btn-lg btn-notify" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> <i>筛选</i> </button> 
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
          <div class="modal-dialog"> 
           <div class="modal-content"> 
            <div class="modal-header"> 
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
             <h4 class="modal-title" id="myModalLabel"><i>筛选</i></h4> 
            </div> 
            <div class="modal-body"> 
             <div class="panel panel-default">
              <div class="panel-body"> 
               <div class="filter-header"> 
                <ul class="nav nav-pills"> 
                 <li class=""><a href="#version-pills" data-toggle="tab">版本</a></li> 
                 <li class="active"><a href="#approach-pills" data-toggle="tab">渠道</a> </li> 
                </ul> 
                <span class="input-group input-filter"> <input name="filter" id="filter" type="text" class="form-control" placeholder="Search for..." /> <span class="glyphicon glyphicon-search"> </span> </span> 
               </div> 
               <div class="choose option"> 
                <i>常用选择</i> 
                <button type="button" class="btn btn-primary" id="btn-selall">全选</button> 
                <button type="button" class="btn btn-primary" id="btn-selreverse">反选</button> 
               </div> 
               <div class="tab-content" style="height:300px;overflow:auto"> 
                <table class="tab-pane fade" id="version-pills"></table> 
                <table class="tab-pane fade active in" id="approach-pills"></table> 
               </div> 
              </div>
             </div> 
            </div> 
            <div class="modal-footer"> 
             <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-filtersave">保存</button> 
             <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- /. ROW --> 
     <div class="row" id="explain-row"> 
      <div class="explain-content"> 
       <div class="panel panel-default"> 
        <div class="panel-heading"> 
         <span class="explain-heading">指标说明</span> 
         <button class="btn btn-2 btn-2c" id="btn-explain-switch">关闭</button> 
        </div> 
        <div class="panel-body" id="explain-panel" style="height:inherit"> 
         <div class="explain-content-panel cut"> 
          <div class="explain-content-box"> 
           <div class="explain-content-row"> 
            <i class="fa fa-circle" aria-hidden="true"></i> 
            <dl> 
             <dt>
              充值玩家:
             </dt> 
             <dd>
              统计所选时期内，充值额度排名占同时期充值金额前10%的玩家排名，详细展示其新增日期、首充日期、充值金额（截至统计日期为止总充值额度）、付费次数、在线天数、总游戏时长（游戏内时间）、总游戏次数和所处等级。
             </dd> 
            </dl> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- /. explain-row --> 
     <div class="row" id="data-first"> 
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <span class="data-first-panel-heading">充值玩家</span>
       </div> 
       <div class="panel-body"> 
        <div class="tab-content">
          <div class="table-zoom-first"> 
           <table id="data-table-rank-paymentBehavior" class="hover stripe row-border">
             <thead>
                  <tr role="row">
                      <th>排名</th>
                      <th>帐号</th>
                      <th>角色名</th>
                      <th>新增日期</th>
                      <th>首付日期</th>
                      <th>付费金额</th>
                      <th>付费次数</th>
                      <th>在线天数</th>
                      <th>总游戏时长</th>
                      <th>总游戏次数</th>
                      <th>等级</th>
                      <th>详情</th>
                  </tr>
             </thead>   
           </table>
          </div>              
        </div> 
       </div> 
      </div> 
     </div>
     <div class="row" id="data-second"> 
      <div class="panel panel-default"> 
       <div class="panel-heading">
         <a id="whaleDetailback">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
          <span>返回</span>
         </a> 
        <span class="data-first-panel-heading" id="account-detail">帐号详情</span>
       </div> 
       <div class="panel-body"> 
        <ul class="nav nav-tabs rank-detail-payment-tab"> 
         <li class="active"> <a data-toggle="tab" data-info="time">每日在线时长及趋势</a></li> 
         <li class=""> <a data-toggle="tab" data-info="times">每日登录次数及趋势</a></li>
         <li class=""> <a data-toggle="tab" data-info="payment">每日付费金额及趋势</a></li>
        </ul> 
        <div class="tab-content">
          <div id="rank-detail-payment-chart" style="width:100%;height:400px;display:inline;float:left"></div>
          <div class="table-zoom-second"> 
           <table id="data-table-rank-detail-payment" class="hover stripe row-border">
             <thead>
                  <tr role="row">
                      <th>日期</th>
                      <th>在线时长(min)</th>
                      <th>登录次数</th>
                      <th>付费金额($)</th>
                  </tr>
             </thead>   
           </table>
          </div>              
        </div> 
       </div> 
      </div> 
     </div>
     <div class="row"> 
      <div class="alert alert-warning fade in" data-dismiss="alert" id="platform-selected"> 
       <a href="#" class="close" data-dismiss="alert">&times;</a> 
       <strong>请选择平台</strong> 
      </div> 
     </div>
     <div class="row">  
       <a href="#" class="back-top">
        <span class="fa fa-angle-up" aria-hidden="true"></span>
       </a> 
     </div> 
    </div> 
    <!-- /. PAGE INNER --> 
   </div> 
   <!-- /. PAGE WRAPPER --> 
  </div> 
  <!-- /. WRAPPER -->
  </div> 
  <div id="footer-sec">
    Copyright &copy; 2016.koogame All rights reserved. 
   <a target="_blank" href="#/"></a> 
  </div> 
  <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME--> 
  <script src="http://zhangchaoyi.xyz/oss/js/jquery.min.js?v=0.2"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/bootstrap.min.js?v=0.2"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/jquery.metisMenu.js?v=0.2"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/jquery.dataTables.min.js?v=0.2"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/custom.js?v=0.2"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/header.js?v=0.4"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/button/modernizr.custom.js?v=0.2"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/button/classie.js?v=0.2"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/echarts.min.js?v=0.2"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/filter/jcfilter.min.js?v=0.2"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/dateselector/dateRange.js?v=0.2"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/dateselector/monthPicker.js?v=0.2"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/checkbox/icheck.js?v=0.2"></script>
  <script src="http://zhangchaoyi.xyz/oss/js/common.js?v=0.8"></script> 
  <script src="http://zhangchaoyi.xyz/oss/js/paymentRank.js?v=0.6"></script>
 </body>
</html>