#wrapper {
	width: 2061px;
	width: 100%;
	position: relative;
}

div.col-lg-6 {
	position: relative;
    	float: right;
    	left: 32%;
	top:14%;
}

div.input-group {
	position:relative;
	top:10px;
	margin-left: 76px;
	z-index: -1;
}

input.form-control {
	position:relative;
	top:10px;
}

div.container {
	position: relative;
    width: 90%;
	height:826px;
    overflow-x: hidden;
    overflow-y: hidden;
}


.panel.panel-default {
	border-radius: 8px 8px 8px 8px;
    	width: inherit;
    	height: inherit;
    	text-align: left;
}

.table-both {
	position: relative;
	top:24%;
}

small {
	display:block;
	color:silver;
}

.table.table-responsive tr{
	text-align:center;
	width:100%;
	overflow:hidden;
}

div.grid-gamename.inline-block {
	position:relative;
	top: 100px;
	left:95px;
	font-size: 20px;
}

.table-total th {
	background:black;
}

.panel-heading {
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
	font-weight:bold;
	border-radius: 8px 8px 0px 0px;
	background-color: white;
}
.module-table {
	font-weight:bold;
	font-size:initial;
	height: inherit;
}

span.glyphicon.glyphicon-search {
	position:relative;
	left: 85px;
	top:-13px;
	z-index: 100;
	font-size:120%;
}


.btn.btn-default {
	border:silver;
	font-size: 70%;
	outline: none;
}

#ios-icon-btn:hover {
	background:silver;
}


#wp-icon-btn:hover {
	background:silver;
}

td.total {
	text-align:center;
	vertical-align:center;
	padding-top: 15px !important;
}

a:link {text-decoration:none;color:#000000;}    
a:visited {text-decoration:none;color:#000000} 
a:hover {text-decoration:none;color:#428bca;}   
a:active {text-decoration:underline;}  

#wp-icon-btn,#ios-icon-btn {
	background: #f9f9f9;
}

ul#dropdownSubMenu {
    margin-top: 25px;
}

@media screen and (max-width: 1000px){
	div.grid-gamename.inline-block{left:0px;}
}