input,button,select,textarea{outline:none;}

div#top-row {
    position: relative;
    top: -1px;
}
div.filter-tool {
    float:left;
    position:relative;
    right: 1px;
    width: 1784px;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(1,#f2f2f2));
    border: 1px solid #bfbfbf;
    right: 26px;
    margin-top:15px;
}

div#page-inner.fix-style-v1 {
    position: relative;
    top: -21px;
}

div.date-bar {
    float:left;
    position:relative;
    top: 31px;
    left: 54px;
    width: 254px;
    display: inline;
}
div.calender-bar {float:left;font-size: 98px;width: 261px;height: 30px;position: relative;right: 20px;margin-bottom: 5px;/* background: #DADAEA; */}

div.time-title {
    float: left;
    position:relative;
    left: 263px;
    bottom: 27px;
    width: 327px;
}

div.time-title > a {
    margin-left: 12px;
}

div.time-title > a:link {
    color: #FF00003
}		
div.time-title > a:visited {
    color: black;
    font-weight:bold;
}	
div.time-title > a:hover {
    text-decoration:none;
    font-weight:bold;
}	
div.time-title > a:active {
    color: black;
}	
div.time-title > a.selected {
    font-weight:bold;
    color:black;
}


span#date_seletor.date_title {
    position:relative;
    bottom:2px;
}

div.explain-content {
    position:relative;
    top: 25px;
    text-align: left;
}

span.explain-heading {
    font-weight:bold;
    font-size: 15px;
    position:relative;
    top:2px;
}

div.toggle-switch {
    display:none;
}

div#data-first {
    text-align:left;
    position:relative;
    top:20px;
    margin-bottom: 14px;
}

div#data-first.row > div.panel.panel-default > div.panel-heading {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
}

div#data-first.row > div.panel.panel-default > div.panel-body > ul.nav.nav-tabs > li > a:hover {
    background-color:silver;
}
div#data-first.row > div.panel.panel-default > div.panel-body > ul.nav.nav-tabs > li.active > a:hover {
    background-color:white;
}

div.panel.panel-default {
    border-radius:10px;
}

div.panel-heading {
    border-radius:10px 10px 0 0;
    text-align: left;
}

span.data-first-panel-heading {
    font-weight:bold;
    font-size: 15px;
}

#platform-selected {
    width:600px;
}

div.modal-dialog {
    position:relative;
    top:300px;
}

div#notification.row {
    position:relative;
    left:370px;
    font-size:10px;
    display:inline;
}

button.btn.btn-primary.btn-lg.btn-notify {
    position:relative;
    left: 70px;
    width:80px;
    height:40px;
    padding: 9px;
}

button.btn.btn-primary.btn-lg.btn-notify > span {
    display:inline;
    float:left;
}

button.btn.btn-primary.btn-lg.btn-notify > i {
    position:relative;
    left: 4px;
    font-style:normal;
}

div.modal-header {
    height:50px;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
    border-radius:10px 10px 0 0;
}

h4#myModalLabel.modal-title > i {
    float:left;
    font-style:normal;
}

span.input-group.input-filter {
	float:right;
	position: relative;
	bottom: 40px;
	width: 147px;
}

span.input-group.input-filter > input.form-control {
	position: absolute;
	right: 0px;
}

span.input-group.input-filter > span.glyphicon.glyphicon-search {
	position: absolute;
	left: 131px;
	top: 10px;
	display:inline;
	z-index: 10;
}

ul.nav.nav-pills {
	display:inline;
	width: 119px;
}

ul.nav.nav-pills > li > a:hover {
    background: silver;
}

div.choose.option {
	text-align:center;	
	background:#e3effa;
	position:relative;
	top:10px;
	width:560px;
	right:11px;
}

div.choose.option > i{
	float:left;
	font-style:normal;
	padding-top:5px;
	padding-left:5px;

}

div.choose.option > button.btn.btn-primary {
	font-size:10px;
	width:50px;
	position:relative;
	left:180px;
}

div.filter-header {
	width: 566px;
	position:relative;
	right: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d5d1d1;
}

div.filter-header > ul.nav.nav-pills > li {
    margin-left: -1px;
}

div.filter-header > ul.nav.nav-pills > li > a {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fdfdfd),color-stop(1,#dedede));
    line-height: 13px;
    /* margin-left: 0; */
    /* margin-right: 0; */
    /* letter-spacing: normal; */
}

div.filter-header > ul.nav.nav-pills > li.active > a{
    background: #2f70ad
}

div.tab-content {position: relative;top: 15px;/* background: #ffffff; */}

table.tab-pane.fade.active.in {
	width:100%;
	text-align:left;
}

td.jcorgFilterTextParent {
	width:500px;
} 

td.jcorgFilterTextParent > input {
	font-size: 244px;
}

div.modal-footer button.btn.btn-primary {
    width: 60px;
}

div.explain-content-row > dl {
    clear:left;
    display: inline-block;
    float: left;
    position: relative;
    left: 29px;
    bottom: 20px;
    margin-bottom: 4px;
}

div.explain-content-row > dl > dt {
    clear:left;
    float:left;
}

div.explain-content-row > dl > dd {
    float: left;
    padding-left: 10px;
}

div.explain-content-row > i {
    float:left;
    clear:left;
    display: inline-block;
    font-size: 1%;
    position: relative;
    bottom:3px;
    color:#3277b7;
}

div.explain-content-box {
    color: #333;
    width:inherit;
    position: relative;
    margin-top: 0px;
}

div.explain-content-row {
    position:relative;
    left:5px;
    font-size:14px;
}

div.explain-content-panel.cut {
    position:relative;
    margin-top;20px
    height: 200px;
    position:relative;
    top: 9px;
}

div#explain-panel {
    height: 160px;
    overflow-y: hidden;
}

button#btn-explain-up {
    position: relative;
    float: right;
    bottom: 93px;
    right: 20px;
    height: 36px;
    outline:none;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fdfdfd),color-stop(1,#dedede));
}

button#btn-explain-up:hover {
    background:white;
}
button#btn-explain-down {
    float: right;
    position:relative;
    right: -16px;
    bottom: 47px;
    height: 36px;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
    border: #252222;
    outline:none;
}

button#btn-explain-up > span.fa.fa-chevron-up {
    font-size: 12px;
}

button#btn-explain-down > span.fa.fa-chevron-down {
    font-size: 12px;
}

ul.nav.nav-tabs > li.active > a {
    border-bottom:3px solid #3277b7;

}

body > div.icheckbox_polaris {
    display: none;
}

i.fa.fa-check-square-o::before {
    position:relative;
    font-size: 85%
}

i.fa.fa-spinner::before {
    font-size: 80%
} 
i.fa.fa-shopping-cart::before {
    font-size:90%;
} 

i.fa.fa-gamepad::before {
    font-size: 85%
} 

i.fa.fa-bar-chart::before {
    font-size: 90%
} 

i.fa.fa-send::before {
    font-size: 90%
} 

div#data-second {
    margin-top: 48px;
}

div#data-second.row > ul.nav.nav-tabs {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
    border-radius: 10px 10px 0 0;
}

div#data-second.row > ul.nav.nav-tabs > li {
    font-weight: bold;
}
div#data-second.row > ul.nav.nav-tabs > li > a:hover{
    background-color: white;
}

div.table-zoom-second {
    margin-bottom: 10px;
}

button#btn-gamedetail-switch {
    position: relative;
    right: 15px;
}

table.dataTable th.sorting_desc span {
    margin: 3px 10px 5px 0;
    padding-right: 22px;
    background: url(../images/sort_desc.png) no-repeat right center;
}  

table.dataTable th.sorting_asc span {
    background: url(../images/sort_asc.png) no-repeat right center;
    margin: 3px 10px 0 0;
    padding-right: 22px;
}

table.dataTable thead .sorting span {
    margin: 3px 10px 0 0;
    padding-right: 22px;
}

table.dataTable thead .sorting span:hover {
    background: url(../images/sort_both.png) no-repeat right center;
}

div.data-results > span {
    position: relative;
    left:5px;
    font-size:95%;
    margin-left: 20px;
}

div.data-results > span > font{
    color:#e25856;
    font-weight: bold;
    font-size: large;
}

div.data-results {
    margin-bottom:20px;
}

a.back-top {
    background:rgba(43,57,69,0.95);
    border-radius: 3px 0 0 3px;
    border: 1px solid #22282e;
    position:fixed;
    float: right;
    width: 40px;
    height: 40px;
    bottom:200px;
    left: 98%;
}

div#page-inner > div.row > a.back-top:hover {
    color:white;
}


/*retain.css*/
div.nav-tab {
    display: inline;
    float: left;
    position: relative;
    left: 32px;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
    margin-bottom: 10px;
    bottom: 8px;
}

div.nav-tab > ul.nav.nav-pills li > a {
    color:black;
    font-size: 15px;
    border: silver 1px solid;
    border-radius: 4px 4px 4px 4px;
}

div.nav-tab > ul.nav.nav-pills > li.active > a {
    color:white;
    border: #3172af 1px solid;
    background: #2f70ad;
    
}   

div.nav-tab > ul.nav.nav-pills > li {
    line-height: 12px;
    margin-left: -1px;
    width: inherit;
}

div.nav-tab > ul.nav.nav-pills > li > a:hover {
    color:white;
    background: #2f70ad;
    border: #3172af 1px solid;
}

.fix-explain-box {
    height: inherit !important;
}

#retain-note {
    position:relative;
    right:10px;
}

div#retain-note > span {
    position: relative;
    left:5px;
    font-size:95%;
    margin-left: 20px;
}

div#retain-note > span > font{
    color:#e25856;
    font-weight: bold;
    font-size: large;
}

/* retain-equipment  */
table#data-table-equipment-retain > thead > tr > th{
    border-radius: 0 0 0 0;
}

table#data-table-equipment-retain > thead {
    /*border-radius: 5px 5px 5px 5px;*/
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada)) !important;
    margin-top:10px;
}

table#data-table-equipment-retain > thead > tr > th.center.thead {
    border-radius: 0 8px 0 0 ;
}

table#data-table-equipment-retain > thead > tr > th:first-child {
    border-radius: 8px 0 0 0 ;
}

th.bhead.sorting,th.bhead.sorting_desc,th.bhead.sorting_asc {
    border-radius: 0 0 0 0 !important;
}

th.bhead.sorting > span {
    position: relative;
    left: 9px;
}

th.bhead.sorting_desc span {
    position: relative;
    left: 9px;
    background: url(../images/sort_desc.png);
}

th.bhead.sorting_asc span {
    position: relative;
    left: 9px;
    background: url(../images/sort_asc.png) no-repeat right center;
}

/*customze-retained*/
ul.nav.nav-pills > li {
    margin-left: -1px;
}

div.panel-body-nav-tab-row > ul.nav.nav-pills{
    display: inline;
    float:left;
    width: 172px;
    height: %;
    font-size: medium;
    border-radius: 8px 0 0 0;
}

div.panel-body-nav-tab-row > div.dropdown {
    display:inline;
}

div.panel-body-nav-tab-row > div.dropdown > button#customize-retain-players {
    font-size: 16px;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
    border: 1px solid #d5d1d1;
    margin-top: -2px;
}

div.panel-body-nav-tab-row > ul.nav.nav-pills > li > a {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
    color:black;
    height: 34px;
}

div.panel-body-nav-tab-row > ul.nav.nav-pills > li > a > span {
    position: relative;
    bottom:5px;
}

div.panel-body-nav-tab-row > ul.nav.nav-pills > li > a:hover {
    background: #2f70ad;
    color:white;
}

div.panel-body-nav-tab-row > ul.nav.nav-pills > li {

}

div.panel-body-nav-tab-row > ul.nav.nav-pills > li.active > a {
    background: #2f70ad;
    color:white;
}

button#customize-retain-game-type {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
    border: 1px solid #d5d1d1;
    font-size: 16px;
    margin-top: -3px;
}

button#customize-retain-times {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
    border: 1px solid #d5d1d1;
    font-size: 16px;
    margin-top: -3px;
}

table#data-table-customize-retained-queryDay > thead {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada)) !important;
}

table#data-table-customize-retained-queryDay > thead > tr > th.sorting_asc {
    border-radius: 8px 0 0 0;
}

table#data-table-customize-retained-queryDay > thead > tr > th.center.thead {
    border-radius: 0 8px 0 0;
}
button#customize-retain-type {
    font-size: 16px;
    border: 1px solid #d5d1d1;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
}
div.dropdown.retention {
    position:relative;
    left:640px;
}

ul.nav.nav-tabs.effective > li > a {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
}


div.nav-tab.effective > ul.nav.nav-pills {
    width:130px;
}

ul.nav.nav-tabs.effective > li {
    margin-left: -2px;
}

ul.nav.nav-tabs.effective > li > a {
    color:black;
}

ul.nav.nav-tabs.effective > li > a:hover {
    background: #2f70ad !important;
    color:white;
}

ul.nav.nav-tabs.effective > li.active > a {
    color: white;
    border: #3172af 1px solid;
    background: #2f70ad;
}

th.center.thead {
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
}

form.form-inline.query-accountId {
    margin-top: 14px;
    margin-bottom: 12px;
    position:relative;
    right: 705px;
}

button.btn.btn-primary.query-account-id {
    width: 59px;
}

div#account-not-exist {
    position: fixed;
    bottom:750px;
    left: 806px;
    opacity: 0.9;
    z-index:1000;
    width: 300px;
    display: none;
}
div.filter-tool-txt {
    display: inline;
    position:relative;
    font-size: 22px;
    line-height: 32px;
    float: left;
    padding: 12px 0 0px 13px;
}
div.channel {
    float:left;
    text-align: left;
    display: inline;
    position: relative;
    bottom:30px;
}
div.channel > em {
    position: relative;
    left:30px;

}
span.time-true {
    background: #5cb95e;
    color:#FFF;
    text-align: center;
    border-radius:2px;
    padding: 2px 6px;
    margin-right: 5px;
    line-height: 15px;
}

span.time-s {
    background: #5bc0de;
    color:#FFF;
    text-align: center;
    border-radius:2px;
    padding: 2px 6px;
    margin-right: 5px;
    line-height: 15px;
}

div.realtimeInfo {
    /* background: #f8f8f8; */
    height: 324px;
}
div.realtime-title {
    border-top: 1px solid #ccc;
    height: 82px;
}
div.realtime-data {
    height: 82px;
    text-align: left;
}
.contrast-data, .realtime-data {
    float: left;
    width: 19.9%;
    border-left: 1px solid #ccc;
    margin-left: -1px;
    background: #f8f8f8;
}
div.realtime-data h3 {
    padding-left: 15px;
    font-size: 14px;
    font-weight: normal;
}

div.realtime-data span {
    padding: 0 0 0px 30px;
}
@media screen and (min-width: 1750px){
    div.realtime-data span {font-size: 30px;}
}
@media screen and (max-width: 1749px){
    div.realtime-data span {font-size: 30px;}
}
@media screen and (max-width: 1659px){
    div.realtime-data span {font-size: 22px;}
}
@media screen and (max-width: 1310px){
    div.realtime-data span {font-size: 14px;}
}

div.realtime-data em {
    font-size: 16px;
    color: #67a600;
    font-weight: bold;
    margin-left: 20px;
}
div.contrast-data {
    height: 78px;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-left: 17px;
}
div.contrast-data b {
    float: left;
    width: 60px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}
div.contrast-data .contrastval {
    width: 50px;
    overflow: hidden;
    font-size: 13px;
}
div.contrast-data > p > b + span{
    font-size: 13px;
}
div.contrast-data > p > font{
    font-size: 13px;
}

em.red > i.fa.fa-arrow-down,em.green > i.fa.fa-arrow-down {
    font-size: 8px;
}
em.red > i.fa.fa-arrow-up,em.green > i.fa.fa-arrow-up {
    font-size: 8px;
}
em.red {
    font-size: 8px;
    margin-left:10px;
    color:#C12121;
}
em.green {
    font-size: 8px;
    margin-left:10px;
    color:#67A600;
}
div#realtimeInfo {
    position: relative;
    top:20px;
    height: 329px;
}
div#data-info-details {
    position:relative;
    top: -99px;
    background-color: white;
    display: block;
}
div.date-contrast-bar > div.calender-bar {
    position:relative;
    left:40px;
}
div.date-contrast-bar > em{
    float:left;
}
a#btn-contrast-clear {
    float:left;
    border: #c8c8c8 1px solid;
    background: #dadada;
    background-image: -ms-linear-gradient(top,#fff,#dadada);
    background-image: -moz-linear-gradient(top,#fff,#dadada);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#DADADA',GradientType='0');
    color: #000;
    text-align: center;
    z-index: 10;
    margin-left: 43px;
    margin-top: 2px;
}
a#btn-contrast-clear:hover {
    background: white;
    color:white;
    background-color:white; 
}
div.calender-bar.contrast {
    width:170px;
}
div.date-contrast-bar > em {
    margin-top: 9px;
    position:relative;
    left:20px;
}
div.realtime-btn {
    position: relative;
    float:right;
    bottom: 324px;
    display: inline;
}
div.realtime-btn a {
    display: block;
    width: 15px;
    border-top: 1px solid #ccc;
    position: relative;
    background: #2771b5;
    height: 160px;
}
a#switch-up {
    position: relative;

}
div.realtime-btn > a > i {
    position:relative;
    top: 39%;
    font-size: 15px;
    color:white;
}
.btn-current {
    height: 83px !important;
}

div#data-info-details > ul.nav.nav-tabs{
    height: 50px;
}

li.btn-icons > a > span {
    font-size: 19px;
}
span#gameTimes + font {
    font-size: 22px;
}

div.nav-tab.paid-analyze-tab {
    position:relative;
    top:20px;
    font-size: 3px;
    z-index:1;
}

div.nav-tab.paid-analyze-tab > ul {
    width: 70px;
}

div.nav-tab.paid-analyze-arp-tab {
    top: 18%;
    font-size: 3px;
    width:472px;
}

div.nav-tab.paid-analyze-arp-tab > ul {
    /*width: 100px;*/
}

#pay-note {
    width: inherit;
    margin-left: 12px;
}
#pay-note > span > font {
    color:#e25856;
    font-weight: bold;
    margin-left:3px;
}
.arpu-block{
    height:50px;
    width: 29%;
    display:none; 
}
div.nav-tab.paid-detail-subtab {
    margin-top: 30px;
    z-index:10;
}
div.nav-tab.paid-detail-consumepackage {
    margin-top: 30px;
    z-index:10;
    display:none;   
}
div.avg-paymentTransform {
    float:left;
    margin-top: 10px;
    margin-left: 20px;
}
div.avg-paymentTransform > span > font {
    color:#e25856;
    font-size: 16px;
    font-weight: bold;
    margin-left:5px;    
}
div.btn-group.btn-rank-payment {
    margin-top: 20px;
    font-size: 25px;
}

div.btn-group.btn-rank-payment > button {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
    border: #c8c8c8 1px solid;
}

a#whaleDetailback {
    font-size: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nest {
    font-size:16px;
    margin-right:7px;
}

.btn-group.btn-attachment {
    float:left;
}

.attachment {
    margin-bottom: 10px;
}

table#attach-table td {
    border:1px solid black;
    padding:2px 2px;
    background-color: #E6CAC4;
}

table#attach-table {
    border-spacing: 10px;
    border:1px solid black;
    text-align:center;
    border-collapse: separate;
}

#feedback > div > div.modal-content {
    position:relative;
    bottom:250px;
}

input.form-control.attach-selected {
    width:55px;
}
div#attach-result {
    margin-top:15px;
}
.selected-result {
    float:left;
    width: 150px;
    margin:5px 5px 10px 5px;
}
button#btn-attach-save {
    margin-top: 6px;
}
.cu-select-detail {
    margin-left: 29px;
    font-size: 10px;
    text-align: left;
}
.cu-permission {
    position: relative;
    right: 60%;
    width: 1060px;
}
form#create-form {
    margin-top: 32px;
}
.nav-tab.sub-op-currency {
    margin-top: 10px;
    z-index: 1;
}
th.sorting_disabled {
    background-repeat: no-repeat;
    background-position: center right;
    background-color: #d5d4d4;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada))!important;
    border: 1px solid #e4e4e4;
}
span.withoutIcon {
    color: white;
    font-size: 17px;
}
#btn-send-announcement {
    float:right;
}
.without-datepicker {
    margin-top: 40px;
}
.lock-account {
    margin-top: 35px;
}
button.btn.btn-dafault.limit-time {
    float: left;
}
em.all-get-consume {
    margin-left: 25px;
}
div#all-get-consume {
    font-size: x-large;
    margin: 3px 10px 0px 0px;
    float: left;
}
.single-num{
    color: #e25856;
    font-weight: bold;
}