.logo {
	width: 182px;
	height: 69px;
	/* padding-left: 1px; */
	/* border-left: 332px; */
	margin-left: auto;
	margin-right: 86px;
	background:url("../images/logo.gif") left top;
	position:relative;
	top: 351px;
	/* left: 10px; */
	border-radius:8px 8px 8px 8px;
	/* background: silver; */
}
.login_container {
	width: 340px;
	text-align: center;
	margin: 0 auto;
	top: -59px;
	position: relative;
	/* background: silver; */
}
.glyphicon glyphicon-user{
	position:relative;
	right:300;
}