.logo {
	width: 194px;
	height: 69px;
	background: url("../images/logobackup.gif");
	position:relative;
	bottom: 19px;
	border-radius:8px 8px 8px 8px;
	text-align: center;
	opacity: 0.9;
	left: 27%;
}
.login_container {
	position: relative;
	text-align: center;
	top: 33%;
	margin: 0 auto;
	width: 43%;
	left:4%;
	}

span.glyphicon.glyphicon-user.login-user::before{
	right: 206px;
	font-size: 270%;
	position: relative;
	float: left;
	bottom: 43px;
	}

span.glyphicon.glyphicon-lock.login-password::before{
	right: 242px;
	font-size: 270%;
	position: relative;
	float: left;
	top: 26px;
	}

input#password.form-control.input-lg {
	margin-top: 20px;
}

button.btn.btn-lg.btn-primary.btn-login {
	position:relative;
	top: 15px;
}
div.input-group.login-page {
	width: 50%;
	left: 16%;
	bottom: 35px;
}
.select-db{
	left: 132px;
    	margin-bottom: 10px;
}

body {
	background: #ebedef;
}

@media screen and (max-width: 1000px){
    .login_container {width:70%!important;}
}
@media screen and (max-width: 500px){
    .login_container {width:70%!important;}
    .logo{left:15%!important;}
    .login_container {width:118%!important;}
}