<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" type="image/x-icon" href="http://zhangchaoyi.xyz/oss/images/koogame.ico" media="screen" />
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://zhangchaoyi.xyz/oss/css/bootstrap.css?v=0.2">
  <link rel="stylesheet" href="http://zhangchaoyi.xyz/oss/css/login.css?v=0.2">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://zhangchaoyi.xyz/oss/js/jquery.min.js?v=0.2"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://zhangchaoyi.xyz/oss/js/bootstrap.min.js?v=0.2"></script>
  <script src="http://zhangchaoyi.xyz/oss/js/aes.js?v=0.2"></script>
  <script src="http://zhangchaoyi.xyz/oss/js/mode-ecb.js?v=0.2"></script>
  <script src="http://zhangchaoyi.xyz/oss/js/login.js?v=0.4"></script>
  <title>KooGame</title>
</head>
 
<body>
  <div class="login_container">
    <div class="logo"> </div>
    <hr style="right:9%">
	  <form class="col-lg-12">
       <div class="input-group login-page">
         <input class="form-control input-lg " placeholder="Enter your username" type="text" id="username" name="username" onkeypress="getKey()">
         <input class="form-control input-lg " placeholder="Enter your password" type="password" id="password" name="password" onkeypress="getKey()">
         <button class="btn btn-lg btn-primary btn-login" type="button" onclick="login()" style="width:100%">登录</button>        
       </div>
    </form> 
  </div>
</body>
</html>