<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KooGame</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="http://oss.koogame.cn/oss/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="http://oss.koogame.cn/oss/css/font-awesome.css" rel="stylesheet" />
     <!-- PAGE LEVEL STYLES-->
    <link href="http://oss.koogame.cn/oss/css/error.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        
         <div class="row text-center">
               
                <div class="col-md-12 set-pad" >
                           
                            <strong class="error-txt">你没有权限访问该页面</strong>
                          
                    <a id="btn-goback" class="btn btn-danger" ><i class="fa fa-mail-reply"></i>&nbsp;PLEASE GO BACK</a>
                        </div>
                
                
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                  <br />
    <br />
               <a id="btn-login" class="btn btn-success">
                        PLEASE CONTACT ADMIN OR ! GO TO LOGIN
                    </a>
                  <br />
    <br />
            </div>

        </div>

    </div>
  
  
    
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                
                All Rights Reserved | &copy KooGame
            </div>

        </div>

    </div>
 <script src="http://oss.koogame.cn/oss/js/jquery.min.js?v=0.1"></script>    
 <script src="http://oss.koogame.cn/oss/js/authorityError.js?v=0.1"></script> 
</body>
</html>
