<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <link rel="shortcut icon" type="image/x-icon" href="http://oss.koogame.cn/oss/images/koogame.ico" media="screen" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/dateselector/dateRange.css?v=0.2" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/dateselector/monthPicker.css?v=0.2" /> 
  <link href="http://oss.koogame.cn/oss/css/bootstrap.css?v=0.2" rel="stylesheet" /> 
  <link href="http://oss.koogame.cn/oss/css/font-awesome.css?v=0.2" rel="stylesheet" /> 
  <link href="http://oss.koogame.cn/oss/css/basic.css?v=0.2" rel="stylesheet" /> 
  <link href="http://oss.koogame.cn/oss/css/custom.css?v=0.2" rel="stylesheet" /> 
  <link href="http://oss.koogame.cn/oss/css/header.css?v=0.2" rel="stylesheet" /> 
  <link href="http://oss.koogame.cn/oss/css/datatemplate.css?v=0.2" rel="stylesheet" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/button/default.css?v=0.2" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/button/component.css?v=0.2" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/button/animation.css?v=0.2" /> 
  <link href="http://oss.koogame.cn/oss/css/polaris/polaris.css?v=0.2" rel="stylesheet" /> 
  <link rel="stylesheet" type="text/css" href="http://oss.koogame.cn/oss/css/jquery.dataTables.css?v=0.2" /> 
  <style type="text/css">
  .signup-logo {
    width: 194px;
    height: 69px;
    background: url("../images/logobackup.gif");
    position: relative;
    bottom: 19px;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    opacity: 0.9;
    left: 27%;
  }

  hr {
    width:inherit;
    right: inherit;
    bottom:inherit;
    margin-bottom: inherit;
  }
  </style>
  <title>KooGame</title> 
 </head> 
 <body> 
  <div id="wrapper"> 
   <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0"> 
    <div id="header"> 
     <div class="top"> 
      <div class="logo-outer"> 
       <a href="#" title="用心做游戏-koogame"> 
        <div class="logo"></div> </a> 
      </div> 
      <div class="topnav"> 
       <div class="envelope"> 
        <button type="button" class="btn btn-default btn-envelope"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> </button> 
       </div> 
       <div class="btn-group" id="admin-btn"> 
        <button class="btn btn-default dropdown-toggle" type="button" id="userAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-user btn-user"></span>admin <span class="caret"></span></button> 
        <ul class="dropdown-menu user-bars" aria-labelledby="userAccount"> 
         <li> <a href="/oss/admin/account">帐号与权限</a></li> 
        </ul> 
       </div> 
       <div class="logout-btn"> 
        <button type="button" class="btn btn-default btn-off"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span> </button> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div id="menu"> 
     <div class="crumb"> 
      <a href="/oss/dashboard"><button type="button" class="btn btn-default btn-home" aria-label="Left Align"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> </button></a>
     </div> 
     <div class="crumb-inner"> 
      <em>全部数据</em> 
     </div>
     <div class="btn-group select-db">
          <button type="button" id="btn-db" class="btn btn-success dropdown-toggle" data-toggle="dropdown" data-info="none">
            选择服务器 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" id="db-menu"></ul>
     </div> 
     <div class="service-bar"> 
      <div class="dropdown"> 
       <button class="btn btn-default dropdown-toggle" type="button" id="btn-dropdownIcon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span class="caret"></span> </button> 
       <ul class="dropdown-menu iconBar" aria-labelledby="dropdownIcon"> 
        <li class="btn-icons" id="ios" data-value="apple"> <a> <input type="checkbox" /> <span class="fa fa-apple fa-style" aria-hidden="true"></span>iOS</a> </li> 
        <li class="btn-icons" id="and" data-value="android"> <a> <input type="checkbox" /> <span class="fa fa-android fa-style" aria-hidden="true"></span>Android</a> </li> 
        <li class="btn-icons" id="wp" data-value="windows"> <a> <input type="checkbox" /> <span class="fa fa-windows fa-style" aria-hidden="true"></span>WP</a> </li> 
        <li> <button type="button" class="btn btn-primary" onclick="iconsView()">确定</button></li> 
       </ul> 
      </div> 
     </div> 
     <div class="clear-data"> 
      <button type="button" class="btn btn-default btn-circle" aria-label="Left Align"> <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> <em>清除数据</em></button> 
     </div> 
    </div> 
   </nav> 
   <!-- /. NAV TOP --> 
   <nav class="navbar-default navbar-side" role="navigation"> 
    <div class="sidebar-collapse"> 
     <ul class="nav" id="main-menu"> 
      
     </ul> 
    </div> 
   </nav> 
   <!-- /. NAV SIDE --> 
   <div id="page-wrapper" style="overflow-x: hidden;overflow-y:hidden;min-height:825px"> 
    <div id="page-inner"> 
     <!-- /. ROW --> 
       <div class="row ">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
              <form role="form" id="create-form">
                <h5 class="signup-logo"></h5>
                <hr />
                <br />
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="fa fa-tag" style="font-size:18px" ></i></span>
                  <input type="text" class="form-control" id="username" placeholder="Username " />
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="fa fa-lock" style="font-size:22px" ></i></span>
                  <input type="password" class="form-control" id="password" placeholder="Password" />
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="fa fa-lock" style="font-size:22px" ></i></span>
                  <input type="password" class="form-control" id="confirm-password" placeholder="confirm password" />
                </div>
                <div class="cu-permission">
                  <table class="table" text-align:center>
                    <tbody>
                      <tr class="list-group-item-success">
                        <td>页面功能</td>
                        <td><input type="checkbox" id="cu-select-all"/><a>全选</a></td>
                      </tr>
                      <tr class="list-group-item-success cu-select-options">
                        <td><input type="checkbox" class="cu-select-data" /><a data-info="realtime" group-info="realtime">实时概况</a></td>
                        <td><input type="checkbox" class="cu-select-data" /><a data-info="form" group-info="form">报表</a></td>
                        <td>
                          <input type="checkbox" class="cu-type"/><a>玩家分析</a>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="new-players" group-info="player-analyse">新增玩家</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="active-players" group-info="player-analyse">活跃玩家</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="retain" group-info="player-analyse">留存统计</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="effective" group-info="player-analyse">有效玩家</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="equipment" group-info="player-analyse">设备分析</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="circle" group-info="player-analyse">生命轨迹</a></div>
                        </td>
                        <td>
                          <input type="checkbox" class="cu-type"/><a>付费分析</a>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="paid-data" group-info="paid-analyse">付费数据</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="paid-deed" group-info="paid-analyse">付费行为</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="paid-transform" group-info="paid-analyse">付费转化</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="paid-rank" group-info="paid-analyse">付费排行</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="paid-players" group-info="paid-analyse">付费玩家</a></div>
                        </td>
                        <td><input type="checkbox" class="cu-select-data"/><a data-info="loss" group-info="loss">流失分析</a></td>
                        <td>
                          <input type="checkbox" class="cu-type"/><a>在线分析</a>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="online-analyse" group-info="online-analyse">在线分析</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="online-habits" group-info="online-analyse">在线习惯</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="online-count" group-info="online-analyse">在线人数</a></div>
                        </td>
                        <td>
                          <input type="checkbox" class="cu-type"/><a>渠道分析</a>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="channel-analyse" group-info="channel-analyse">渠道分析</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="channel-trace" group-info="channel-analyse">渠道短链追踪</a></div>
                        </td>
                        <td>
                          <input type="checkbox" class="cu-type"/><a>系统分析</a>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="prop-analyse" group-info="system-analyse">道具分析</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="task-analyse" group-info="system-analyse">任务分析</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="pass-analyse" group-info="system-analyse">关卡分析</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="rank-analyse" group-info="system-analyse">等级分析</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="money-count" group-info="system-analyse">虚拟币统计</a></div>
                        </td>
                      </tr>
                      <tr class="list-group-item-success cu-select-options">
                        <td><input type="checkbox" class="cu-select-data"/><a data-info="version-analyse" group-info="version-analyse">版本分析</a></td>
                        <td>
                          <input type="checkbox" class="cu-type"/><a>自定义事件</a>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="event-list" group-info="custom-event">事件列表</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="filter-management" group-info="custom-event">漏斗管理</a></div>
                        </td>
                        <td>
                          <input type="checkbox" class="cu-type"/><a>运营支持</a>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="user-feedback" group-info="op-support">用户反馈</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="op-record" group-info="op-support">操作记录</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="data-alert" group-info="op-support">数据报警</a></div>
                        </td>
                        <td>
                          <input type="checkbox" class="cu-type"/><a>数据挖掘</a>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="cluster-analyse" group-info="data-dig">聚类分析</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="newplayers-value" group-info="data-dig">新玩家价值</a></div>
                        </td>
                        <td><input type="checkbox" class="cu-select-data"/><a data-info="market-analyse" group-info="market-analyse">市场分析</a></td>
                        <td>
                          <input type="checkbox" class="cu-type"/><a>技术支持</a>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="online-param" group-info="tech-support">在线参数</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="realtime-log" group-info="tech-support">实时日志</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="crash-analyse" group-info="tech-support">崩溃分析</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="user-mistake" group-info="tech-support">用户错误</a></div>
                        </td>
                        <td>
                          <input type="checkbox" class="cu-type"/><a>管理中心</a>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="create-role" group-info="management-center">新增用户角色</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="manage-role" group-info="management-center">用户角色管理</a></div>
                        </td>
                        <td>
                          <input type="checkbox" class="cu-type"/><a>服务器</a>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="malai" group-info="server">马来服</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="iOS" group-info="server">iOS服</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="uc" group-info="server">uc服</a></div>
                          <div class="cu-select-detail"><input type="checkbox" class="cu-select-data"/><a data-info="test" group-info="server">测试服</a></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-danger" id="role-show" data-info="none">选择角色</button>
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu" id="role-select">
                    <li><a data-info="data_guest">数据用户</a></li>
                    <li><a data-info="gm">游戏管理员</a></li>
                    <li><a data-info="vip">超级用户</a></li>
                    <li><a data-info="admin">平台管理员</a></li>
                    <li class="divider"></li>
                    <li><a data-info="root">系统管理员</a></li>
                  </ul> 
                </div>
                <a class="btn btn-primary" id="create-user">Create User</a>
                <hr />
              </form>
          </div>
       </div>
       
    </div> 
    <!-- /. PAGE INNER --> 
   </div> 
   <!-- /. PAGE WRAPPER --> 
  </div> 
  <!-- /. WRAPPER -->
  </div> 
  <div id="footer-sec" style="top:25px">
    Copyright &copy; 2016.koogame All rights reserved. 
   <a target="_blank" href="#"></a> 
  </div> 
  <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME--> 
  <script src="http://oss.koogame.cn/oss/js/jquery.min.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/bootstrap.min.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/jquery.dataTables.min.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/custom.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/header.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/button/modernizr.custom.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/button/classie.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/echarts.min.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/filter/jcfilter.min.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/dateselector/dateRange.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/dateselector/monthPicker.js?v=0.2"></script> 
  <script src="http://oss.koogame.cn/oss/js/checkbox/icheck.js?v=0.2"></script>
  <script src="http://oss.koogame.cn/oss/js/common.js?v=0.2"></script>
  <script src="http://oss.koogame.cn/oss/js/createUser.js?v=0.2"></script>
  <script src="http://oss.koogame.cn/oss/js/aes.js?v=0.2"></script>
  <script src="http://oss.koogame.cn/oss/js/mode-ecb.js?v=0.2"></script>
  <script src="http://oss.koogame.cn/oss/js/jquery.metisMenu.js?v=0.2"></script>
 </body>
</html>